@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vehicle Ownerships website</h1>

    <p>
        Before you start it's always a good idea to check that we have the correct contact details to send your licence label to. You can also add your email address if you would like to receive future licensing reminders and other notifications by email.</p>
        <p>The label is posted to the registered person's address and should arrive within five working days.
        If your vehicle requires a double sided label holder (eg. motorcycle, trailer etc) this will be automatically sent with your label.</p>


 </div>
